body {
    min-height: 100vh;
    display: grid;
    align-items: center;
    justify-items: center;
    background: url(Matrix.jpg)
}

canvas {
    border: solid 10px rgb(22, 133, 22);
    width: 80%;
    height: 500px;
    width: 800px;
    border-radius: 10px;
    background-color: white;
}

canvas.refresh {
    anim
}